[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
aioredis = "*"
aiomysql = "*"
typer = "*"
pydantic = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
